root = true

[*]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

[*.{json,csproj}]
indent_size = 2

[*.cs]
csharp_new_line_before_open_brace = all
csharp_indent_block_contents = true
csharp_indent_braces = false
csharp_preserve_single_line_blocks = true
csharp_preserve_single_line_statements = false
csharp_prefer_braces = true:warning
csharp_style_expression_bodied_methods = false:warning
csharp_style_expression_bodied_constructors = false:warning
dotnet_sort_system_directives_first = true

